body{
	background: rgb(149, 194, 215); /*why to use of rgba and how to use */
}
.logo-text{
	background-color: white;
	font-family: 'lobster', cursive; /*what is lobster what difference does it makes */    
	text-align: center;
	font-size: 40px;
}
a{
	text-decoration: none;

}
.thumbnail-item/*why (thumbnail-item+.thumbnail-item) */
{
	margin-top: 10px; /*defult 20px top margin */
}
.thumbnail-item{
	/*border: 1px solid rgba(100%, 100%, 100%, 0.8);* border in img and spam not in thumbnail-item */
	display: block;/*why block when no changes*/
}
.thumbnail-list{
	list-style: none;
	padding: 20px 0px;
}

.thumbnail-image{
	border: 1px solid rgba(100%, 100%, 100%, 0.8);
	width: 100%;
	display: block;/*reduced padding*/
}
.thumbnail-title{
	border: 1px solid rgba(100%, 100%, 100%, 0.8);
	display: block;
	margin: 0;
	padding: 4px 14px;
    background: rgb(96, 125, 139);
    color: rgb(202, 238, 255);
    font-size: 18px;
}
