body{
margin: 12px;
padding: 0;
background-color: #9099a0;
font-family:"swap", century gothic;
}
header{
padding: 1px;
text-align: center;
background-color: white;

}
ul{
margin: 0;
padding: 0;
}
li{
padding: 0px;
list-style: none;
}
a{

}
.thumbnail-image{
display: block;
width: 100%;
border: 1px solid black;
margin-top: 20px;
}
.thumbnail-title{
display: block;
background-color: #10293e;
border: 1px solid red;
height: 50px;
padding: 0;
width: 100%;
}