body{
	margin:0;
	padding:0px;
}
.header{
	background-color:green; 
	text-align:center;
	font-size: 38px;
}
.container{
	background-color:red;
	padding: 1px;
	
}
.footer{
	background-color:green; 
	text-align:center;
}