body{
	margin: 8px;
	padding: 0;
}
.header{
	background-color: #fa9905;
	height: 100px;
	width: 100%;
}
.main{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 10px;
}
.nav{
	width: 33%
}
ul{
	
	margin: 0;
	padding: 0;


}
li{
	margin-left: 10px;
	margin-top: 8px;
	list-style-type: none;
	background-color: #1cc5dc;
	height: 26px;
	width: 80%;
}
.content{
	width: 33%;
}
.side-bar{
	background-color: #1cc5dc;
	height: 400px;
	width: 28%;
	margin-right: 10px;
}
.Footer{
	background-color: #114e60;
	margin-top: 20px;
	width: 100%;
	height: 80px;
}
@media screen and (max-width: 400px){
	body{
		background-color: rgba(0, 0, 0, 0.4);
		margin: 8px;
		padding: 0;
	}
	.main{
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: space-around;
		margin-top: 10px;
	}
	.nav{
		height: 170px;
		width: 100%;
	}
	nav{

	}
	ul{

	}
	li{
		width: 95%;
		margin-left: 8px;
		margin-right: 8px;
	}
	.content{
		width: 100%;
		height: 200px;
		
	}
	.side-bar{
		height: 90px;
		width: 100%;
	}
}