body{
margin: 0;
padding: 0;
color: white;
}
.header{
	background-color: #0a65ad;
	text-align: center;
	padding: 3%;
}
.nav{
	background-color: #3c3ca7;
	text-align: center;
	padding: 3%;
}
.main-contents{
	display: flex;
}
.main{
	background-color: skyblue;
	text-align: center;
	padding: 3%;
	height: 250px;
	width: 75%;
}
.Aside{
	background-color: #373a4d;
	text-align: center;
	padding: 3%;
	height: 250px;
	width: 20%;
}
.footer{
	background-color: #355d6e;
	text-align: center;
	padding: 3%;
}
@media screen and (max-width: 600px){
	body{
		
	}
	.header{
		width: 100%;
	}
	.nav{
		width: 100%;
	}
	.main-contents{
		display: flex;
		flex-direction: column;
	}
	.main{
		width: 100%;
	}
	.Aside{
		height: 40px;
		width: 100%;
	}
	.footer{
		width: 100%;
	}
}