body{
margin: 0;
padding: 0;
}
.header{
margin: 0;
padding: 0;
}
.logo{
float: left;
background-color: blue;
width: 43%;
height: 40px;
padding: 3%;
}
.Email{
float: left;
background-color: green;
width: 43%;
height: 40px;
padding: 3%;
}
.menu{
clear: both;
background-color: red;
height: 90px;
}
.menu ul{
margin: 0;
padding: 10px;
}
.menu ul li{
list-style-type: none;
background-color: yellow;
margin: 12px;
padding: 12px;
width: 15%;
float: left;
}

.contents{
clear: both;

}
.left{
background-color: blue;
width: 23%;
height: 40px;
padding: 3%;
float: left;
}
.right{
background-color: green;
width: 63%;
height: 40px;
padding: 3%;
float: left;
}
.footer{
clear: both;
background-color: yellow;
height: 50px;
padding: 4%;
}
footer{


}

