body{
	margin: 0;
	padding: 0;
}
.header{
	background-color: #1cc5dc;
	height: 50px;
}
.container{
	display: flex;
	flex-wrap: nowrap;
}
.l-c{
	background-color: #890596;
	height: 300px;
	width: 50%;
	
}
.r-c{
	background-color: #fea82f;
	height: 300px;
	width: 50%;
	
}
.footer{
	background-color: blue;
	height: 50px;
	
}