body{
margin: 0;
padding: 0;
font-size: 20px;

}
.header, .footer{
padding: 4%;
background-color: green;
height:60px;
text-align: center;
}
.container{
padding: 4%;
margin-top: 0px;
background-color:red;

}
